.dashboard4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28.8px;
  font-weight: 600;
}
.dashboard5,
.div59,
.home {
  line-height: 21px;
  font-weight: 600;
}
.home {
  position: absolute;
  top: 1px;
  left: 0;
  display: flex;
  align-items: center;
  width: 38.5px;
  height: 19px;
}
.dashboard5,
.div59 {
  position: relative;
}
.dashboard5 {
  color: var(--color-darkslategray);
}
.li5,
.ol3 {
  position: absolute;
}
.li5 {
  top: 0;
  left: 38.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-5xs);
  gap: 0 7.17px;
}
.ol3 {
  top: 28.8px;
  left: 0;
  width: 1152px;
  height: 21px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.bread-crumb3 {
  position: absolute;
  top: 85px;
  left: 440px;
  width: 1128px;
  height: 50px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-nunito);
}
.span9 {
  color: var(--color-mediumaquamarine);
}
.today {
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray);
}
.present-today-container {
  position: relative;
  line-height: 21.6px;
}
.h52 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 92.328125px 14.59375px 0;
}
.div62,
.div63 {
  position: absolute;
}
.div63 {
  top: 16px;
  left: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 32.2px;
  height: 32px;
}
.div62 {
  top: calc(50% - 32px);
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-ghostwhite-200);
  width: 64px;
  height: 64px;
}
.b6 {
  position: relative;
  line-height: 33.6px;
}
.span10 {
  color: var(--color-seagreen);
}
.increase1 {
  color: var(--color-slategray-100);
}
.increase {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-open-sans);
}
.div64 {
  position: absolute;
  top: calc(50% - 29.8px);
  left: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3.515625px var(--padding-12xs) var(--padding-base);
  gap: 2.59px 0;
  font-size: var(--font-size-9xl);
  font-family: var(--font-nunito);
}
.div61 {
  align-self: stretch;
  position: relative;
  height: 64px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
}
.div60,
.present2,
.present4,
.present5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div60 {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-xl) var(--padding-xl);
  gap: 8px 0;
}
.present2,
.present4,
.present5 {
  position: absolute;
  top: 170px;
  left: 440px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 0 30px rgba(1, 41, 112, 0.1);
  width: 212px;
  flex-direction: row;
}
.present4,
.present5 {
  left: 684px;
  width: 230px;
}
.present5 {
  left: 948px;
  width: 252px;
}
.attendance-report {
  font-weight: 500;
}
.h55 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 110px 14.59375px 0;
  z-index: 0;
}
.image-icon9 {
  margin: 0 !important;
  top: 65px;
  left: 0;
  height: 336px;
  object-fit: cover;
  z-index: 1;
}
.div75,
.image-icon9,
.subjetcs {
  position: absolute;
  width: 348px;
}
.div75 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.subjetcs {
  top: 170px;
  left: 1220px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 0 30px rgba(1, 41, 112, 0.1);
  height: 402px;
}
.div76 {
  position: absolute;
  top: 19px;
  left: 724px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 16.2px;
  height: 16px;
}
.h56 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 595px 14.59375px 0;
}
.svgjsline1009-icon,
.svgjsline1086-icon {
  position: absolute;
  left: 3.37%;
  max-height: 100%;
}
.svgjsline1009-icon {
  height: 83.86%;
  top: 7.45%;
  bottom: 8.69%;
  width: 0;
  opacity: 0;
}
.svgjsline1086-icon {
  height: 1.86%;
  width: 0.14%;
  top: 91.62%;
  right: 96.49%;
  bottom: 6.52%;
  max-width: 100%;
  overflow: hidden;
}
.svgjsline1087-icon,
.svgjsline1088-icon,
.svgjsline1089-icon,
.svgjsline1090-icon,
.svgjsline1091-icon,
.svgjsline1092-icon {
  position: absolute;
  height: 1.86%;
  width: 0.14%;
  top: 91.62%;
  right: 82.14%;
  bottom: 6.52%;
  left: 17.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgjsline1088-icon,
.svgjsline1089-icon,
.svgjsline1090-icon,
.svgjsline1091-icon,
.svgjsline1092-icon {
  right: 67.79%;
  left: 32.07%;
}
.svgjsline1089-icon,
.svgjsline1090-icon,
.svgjsline1091-icon,
.svgjsline1092-icon {
  right: 53.44%;
  left: 46.42%;
}
.svgjsline1090-icon,
.svgjsline1091-icon,
.svgjsline1092-icon {
  right: 39.1%;
  left: 60.76%;
}
.svgjsline1091-icon,
.svgjsline1092-icon {
  right: 24.74%;
  left: 75.12%;
}
.svgjsline1092-icon {
  right: 10.4%;
  left: 89.46%;
}
.svgjstext1104 {
  position: absolute;
  top: 0;
  left: 0;
}
.svgjstext1107,
.svgjstext1110 {
  position: absolute;
  top: 0;
  left: 15.95%;
}
.svgjstext1110 {
  left: 31.58%;
}
.svgjstext1113,
.svgjstext1116 {
  position: absolute;
  top: 0;
  left: 47.38%;
}
.svgjstext1116 {
  left: 63.17%;
}
.svgjstext1119,
.svgjstext1122 {
  position: absolute;
  top: 0;
  left: 78.97%;
}
.svgjstext1122 {
  left: 94.75%;
}
.svgjsg1101,
.svgjsg1102 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.svgjsg1101 {
  height: 4.66%;
  width: 90.86%;
  top: 95.34%;
  right: 8.15%;
  left: 0.98%;
}
.svgjsg1015-icon,
.svgjsg1082-icon {
  position: absolute;
  height: 83.55%;
  width: 93.26%;
  top: 7.76%;
  right: 3.37%;
  bottom: 8.69%;
  left: 3.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgjsg1015-icon {
  height: 98.76%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 1.24%;
  left: 0;
  object-fit: cover;
}
.svgjsg1085-icon {
  height: 84.17%;
  width: 93.26%;
  right: 3.37%;
  bottom: 8.38%;
  max-height: 100%;
}
.svgjsg1085-icon,
.svgjsline1145-icon,
.svgjsrect1150-icon {
  position: absolute;
  top: 7.45%;
  left: 3.37%;
  max-width: 100%;
  overflow: hidden;
}
.svgjsline1145-icon {
  width: 93.26%;
  right: 3.37%;
  height: 0;
  opacity: 0;
}
.svgjsrect1150-icon {
  height: 31.04%;
  width: 14.03%;
  right: 82.6%;
  bottom: 61.51%;
  max-height: 100%;
}
.svgjsg1003 {
  position: absolute;
  height: 92.06%;
  width: 98.97%;
  top: 1.71%;
  right: -1.94%;
  bottom: 6.23%;
  left: 2.97%;
}
.svgjsrect1008-icon {
  position: absolute;
  height: 28.57%;
  width: 13.89%;
  top: 0;
  right: 86.11%;
  bottom: 71.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgjstext1131,
.svgjstext1134 {
  position: absolute;
  top: 19.07%;
  left: 26.32%;
}
.svgjstext1134 {
  top: 38.17%;
}
.svgjstext1137,
.svgjstext1140 {
  position: absolute;
  top: 57.24%;
  left: 26.32%;
}
.svgjstext1140 {
  top: 76.34%;
}
.svgjsg1125,
.svgjstext1143 {
  position: absolute;
  top: 95.41%;
  left: 63.16%;
}
.svgjsg1125 {
  height: 80.91%;
  width: 2.64%;
  top: 5.86%;
  right: 95.08%;
  bottom: 13.23%;
  left: 2.28%;
  text-align: right;
  font-size: var(--font-size-2xs);
}
.svgjssvg1001 {
  position: absolute;
  top: 0;
  left: calc(50% - 360px);
  width: 720px;
  height: 350px;
}
.svgsvgjssvg1001 {
  width: 720px;
  position: relative;
  height: 350px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.div77 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 35px;
  gap: 8px 0;
  font-size: var(--font-size-lg);
  color: var(--color-mediumslateblue-200);
  font-family: var(--font-poppins);
}
.report-month {
  position: absolute;
  top: 374px;
  left: 440px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 0 30px rgba(1, 41, 112, 0.1);
  width: 760px;
  height: 449.6px;
  font-size: var(--font-size-base);
  color: #aab7cf;
  font-family: var(--font-inter);
}
.track3 {
  position: relative;
  line-height: 16.5px;
  text-transform: uppercase;
  font-weight: 600;
}
.attendance-sheet7 {
  position: absolute;
  top: 10.8px;
  left: 41px;
  line-height: 22.5px;
  font-weight: 600;
}
.lucidefile-spreadsheet-icon3 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.a30 {
  width: 260px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  height: 44px;
  cursor: pointer;
  font-size: var(--font-size-mini);
  color: var(--color-darkslateblue-100);
}
.material-symbolstable-chart-v-icon3 {
  position: absolute;
  top: 11px;
  left: 9px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.a31 {
  width: 260px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-ghostwhite-100);
  height: 44px;
  font-size: var(--font-size-mini);
  color: var(--color-mediumslateblue-200);
}
.carbonreport-icon3 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.div78 {
  position: absolute;
  top: 14px;
  left: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 16.2px;
  height: 16px;
}
.student3 {
  position: absolute;
  top: 10.8px;
  left: 41px;
  font-size: var(--font-size-mini);
  line-height: 22.5px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-darkslateblue-100);
}
.phstudent-bold-icon3 {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.a33 {
  width: 260px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  height: 44px;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.icon-park-outlinelogout3 {
  position: absolute;
  top: 14px;
  left: 11px;
  width: 19px;
  height: 19px;
  overflow: hidden;
}
.a34 {
  width: 260px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  height: 43px;
  font-size: var(--font-size-mini);
  color: var(--color-darkslateblue-100);
}
.ulsidebar-nav3 {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar3 {
  position: absolute;
  top: 59px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(1, 41, 112, 0.1);
  width: 300px;
  height: 841px;
  overflow: hidden;
  font-size: var(--font-size-2xs);
  color: var(--color-lightslategray);
  font-family: var(--font-open-sans);
}
.attendify3 {
  position: absolute;
  top: -5px;
  left: 30.5px;
  line-height: 26px;
  display: flex;
  align-items: center;
  width: 131.8px;
  height: 35px;
}
.a35 {
  width: 280px;
  position: relative;
  height: 26px;
}
.div79 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.div80 {
  position: absolute;
  top: 10.5px;
  left: 290px;
  line-height: 16px;
}
.form3 {
  width: 456px;
  position: relative;
  height: 37px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.bell-icon3 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.span15 {
  margin: 0 !important;
  position: absolute;
  height: calc(100% - 17px);
  width: calc(100% - 5.1px);
  top: -1px;
  right: -22.9px;
  bottom: 18px;
  left: 28px;
  border-radius: var(--br-7xs);
  background-color: var(--color-royalblue);
  transform: rotate(180deg);
  transform-origin: 0 0;
  z-index: 1;
}
.a36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.75px 0 5.25px;
  position: relative;
}
.span16 {
  margin: 0 !important;
  position: absolute;
  height: calc(100% - 17px);
  width: calc(100% - 5.1px);
  top: -1px;
  right: -22.9px;
  bottom: 18px;
  left: 28px;
  border-radius: var(--br-7xs);
  background-color: var(--color-seagreen);
  transform: rotate(180deg);
  transform-origin: 0 0;
  z-index: 1;
}
.profile-imgjpg-icon3 {
  position: absolute;
  top: calc(50% - 18px);
  left: 0;
  border-radius: var(--br-lg);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.praful3 {
  position: absolute;
  top: 0;
  left: 8px;
  line-height: 21px;
  font-weight: 600;
}
.span17 {
  position: absolute;
  top: calc(50% - 10.5px);
  left: 36px;
  width: 101.6px;
  height: 21px;
}
.a38 {
  width: 137.6px;
  position: relative;
  height: 36px;
}
.headerheader3,
.ul3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ul3 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 var(--padding-base) 0 0;
  gap: 0 25px;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
}
.headerheader3 {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);
  width: 1648px;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-7xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-nunito);
}
.dashboard3 {
  width: 100%;
  position: relative;
  background-color: var(--color-ghostwhite-100);
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-mediumslateblue-200);
  font-family: var(--font-poppins);
}
